@model HTHAplication.Areas.Admin.Models.PasswordModel
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <li><a href="#">Thay đổi mật khẩu</a></li>
}
<div class="row">
    <div class="col-lg-4">
        @using (Html.BeginForm("ChangePass", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                @Html.HiddenFor(model => model.UserName)
                <div class="form-group">
                    @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Mật khẩu cũ", @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "Mật khẩu mới", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.RepeatPassword, new { @placeholder = "Gõ lại mật khẩu mới", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RepeatPassword)
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-success">Save</button>
            </fieldset>
        }
    </div>
</div>
<div>
    <a href="@Url.Action("Index", "Home")" class="link">Back to List</a>

</div>

