@model Models.EF.MauSac

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <li><a href="#">Quản trị màu sắc hàng</a></li>
    <li class="active"><a href="#">Cập nhật màu sắc hàng hóa</a></li>
}
<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Chi tiết kho hàng
                </div>
                <!-- /.panel-heading -->
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Tên màu:</label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                            </div>
                        </div>
                   
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-1">
                                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                            </div>
                            <div class="col-md-1">
                                <a href="@Url.Action("Index", "MauSac")" class="btn btn-success">Hủy bỏ</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
