@model PagedList.IPagedList<Models.EF.HangHoa>
@using PagedList.Mvc;
@using HTHAplication.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <li><a href="#">Quản trị kho</a></li>
    <li class="active"><a href="#">Danh sách hàng hóa</a></li>
}
@section jsFooter{

}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Danh sách hàng hóa
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Create", "HangHoa")" class="btn btn-success">Thêm mới</a>
                            @using (Html.BeginForm("Index", "HangHoa", FormMethod.Get))
                            {
                                <input class="form-control" id="txtSearch" name="masp" value="@ViewBag.masp" placeholder="Gõ sản phẩm cần tìm" type="text">
                                <button type="submit" class="btn btn-info">Tìm kiếm</button>
                                <a rel="#" href="/Admin/HangHoa">
                                    <input type="button" id="btn-refresh" class="btn btn-primary" value="Làm mới">
                                </a>
                            }
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div id="row_@item.MaHH" class="col-sm-4">
                                <div class="product">
                                    <div class="image-product">
                                        <img src="@item.Anh">
                                        <br /><br />
                                        <span class="badge">
                                            SL:
                                            @(item.SoLuong.HasValue ? item.SoLuong.Value.ToString("N0") : "0")
                                        </span>
                                    </div>
                                    <div class="infor-product">
                                        <a href="#" data-toggle="tooltip" title="@item.TenHH">
                                            @(item.TenHH.Length > 24 ? (item.TenHH.Substring(0, 24) + "...") : item.TenHH)
                                        </a>
                                        <br />
                                        Mã hàng: <span>@item.MaHH</span><br />
                                        Giá lẻ:<span>
                                            @(item.GiaBanLe.HasValue ? (item.GiaBanLe.Value.ToString("N0") + " VND") : "Liên hệ")
                                        </span><br />
                                        <a href="@Url.Action("Edit", "HangHoa", new { id = item.MaHH })" class="btn btn-info">Chi tiết</a>

                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.MaHH }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.MaHH + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "btn btn-danger" })

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @masp = @ViewBag.masp }))
                    </div>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->      
    </div>
</div>
